.opera/inputs
.opera/root_file
.opera/instances/Catalog_0
.opera/instances/Catalog_0--Postgres-Database_0
.opera/instances/Catalog_0--Postgres-DBMS_0
.opera/instances/Demo-Nginx-Container_0
.opera/instances/Demo-Nginx-Container_0--docker-engine-1_0
.opera/instances/Demo-Nginx-Container_0--MockNetwork_0
.opera/instances/Demo-Nginx-Container_0--MockStorage_0
.opera/instances/Demo-Nginx-Container_0--workstation-1_0
.opera/instances/Demo-Portal-Container_0
.opera/instances/Demo-Portal-Container_0--docker-engine-1_0
.opera/instances/Demo-Portal-Container_0--MockNetwork_0
.opera/instances/Demo-Portal-Container_0--MockStorage_0
.opera/instances/Demo-Portal-Container_0--workstation-1_0
.opera/instances/Demo-Postgres-Container_0
.opera/instances/Demo-Postgres-Container_0--docker-engine-1_0
.opera/instances/Demo-Postgres-Container_0--MockNetwork_0
.opera/instances/Demo-Postgres-Container_0--MockStorage_0
.opera/instances/Demo-Postgres-Container_0--workstation-1_0
.opera/instances/Demo-Repository-Container_0
.opera/instances/Demo-Repository-Container_0--docker-engine-1_0
.opera/instances/Demo-Repository-Container_0--MockNetwork_0
.opera/instances/Demo-Repository-Container_0--MockStorage_0
.opera/instances/Demo-Repository-Container_0--workstation-1_0
.opera/instances/docker-engine-1_0
.opera/instances/docker-engine-1_0--workstation-1_0
.opera/instances/docker-engine-2_0
.opera/instances/docker-engine-2_0--workstation-2_0
.opera/instances/MockNetwork_0
.opera/instances/MockStorage_0
.opera/instances/nfs-client-1_0
.opera/instances/nfs-client-1_0--nfs-server_0
.opera/instances/nfs-client-1_0--workstation-1_0
.opera/instances/nfs-server_0
.opera/instances/nfs-server_0--workstation-3_0
.opera/instances/Obeject-Catalog_0
.opera/instances/Obeject-Catalog_0--Postgres-Database_0
.opera/instances/Obeject-Catalog_0--Postgres-DBMS_0
.opera/instances/Postgres-Database_0
.opera/instances/Postgres-Database_0--Postgres-DBMS_0
.opera/instances/Postgres-DBMS_0
.opera/instances/Postgres-DBMS_0--Demo-Postgres-Container_0
.opera/instances/Proxy-Service_0
.opera/instances/Proxy-Service_0--Demo-Nginx-Container_0
.opera/instances/Proxy-Service_0--Repository-Portal-Service_0
.opera/instances/Records-Catalog_0
.opera/instances/Records-Catalog_0--Postgres-Database_0
.opera/instances/Records-Catalog_0--Postgres-DBMS_0
.opera/instances/Repository_0
.opera/instances/Repository_0--Catalog_0
.opera/instances/Repository_0--Demo-Repository-Container_0
.opera/instances/Repository_0--Obeject-Catalog_0
.opera/instances/Repository_0--Records-Catalog_0
.opera/instances/Repository-Portal-Service_0
.opera/instances/Repository-Portal-Service_0--Demo-Portal-Container_0
.opera/instances/Repository-Portal-Service_0--Repository_0
.opera/instances/swarm-manager_0
.opera/instances/swarm-manager_0--docker-engine-1_0
.opera/instances/swarm-manager_0--workstation-1_0
.opera/instances/swarm-worker-1_0
.opera/instances/swarm-worker-1_0--docker-engine-2_0
.opera/instances/swarm-worker-1_0--swarm-manager_0
.opera/instances/swarm-worker-1_0--workstation-2_0
.opera/instances/workstation-1_0
.opera/instances/workstation-2_0
.opera/instances/workstation-3_0
.opera/instances/docker-engine-3_0
.opera/instances/docker-engine-3_0--workstation-3_0
.opera/instances/swarm-worker-2_0
.opera/instances/swarm-worker-2_0--docker-engine-3_0
.opera/instances/swarm-worker-2_0--swarm-manager_0
.opera/instances/swarm-worker-2_0--workstation-3_0
