.opera/inputs
.opera/root_file
.opera/instances/Catalog_0
.opera/instances/Catalog_0--Postgres-Database_0
.opera/instances/Catalog_0--Postgres-DBMS_0
.opera/instances/Demo-Nginx-Container_0
.opera/instances/Demo-Nginx-Container_0--docker-engine-1_0
.opera/instances/Demo-Nginx-Container_0--MockNetwork_0
.opera/instances/Demo-Nginx-Container_0--MockStorage_0
.opera/instances/Demo-Nginx-Container_0--workstation-1_0
.opera/instances/Demo-Portal-Container_0
.opera/instances/Demo-Portal-Container_0--docker-engine-1_0
.opera/instances/Demo-Portal-Container_0--MockNetwork_0
.opera/instances/Demo-Portal-Container_0--MockStorage_0
.opera/instances/Demo-Portal-Container_0--workstation-1_0
.opera/instances/Demo-Postgres-Container_0
.opera/instances/Demo-Postgres-Container_0--docker-engine-1_0
.opera/instances/Demo-Postgres-Container_0--MockNetwork_0
.opera/instances/Demo-Postgres-Container_0--MockStorage_0
.opera/instances/Demo-Postgres-Container_0--workstation-1_0
.opera/instances/Demo-Repository-Container_0
.opera/instances/Demo-Repository-Container_0--docker-engine-1_0
.opera/instances/Demo-Repository-Container_0--MockNetwork_0
.opera/instances/Demo-Repository-Container_0--MockStorage_0
.opera/instances/Demo-Repository-Container_0--workstation-1_0
.opera/instances/docker-engine-1_0
.opera/instances/docker-engine-1_0--workstation-1_0
.opera/instances/docker-engine-2_0
.opera/instances/docker-engine-2_0--workstation-2_0
.opera/instances/MockNetwork_0
.opera/instances/MockStorage_0
.opera/instances/nfs-client-1_0
.opera/instances/nfs-client-1_0--nfs-server_0
.opera/instances/nfs-client-1_0--workstation-1_0
.opera/instances/nfs-server_0
.opera/instances/nfs-server_0--workstation-3_0
.opera/instances/Object-Catalog_0
.opera/instances/Object-Catalog_0--Postgres-Database_0
.opera/instances/Object-Catalog_0--Postgres-DBMS_0
.opera/instances/Postgres-Database_0
.opera/instances/Postgres-Database_0--Postgres-DBMS_0
.opera/instances/Postgres-DBMS_0
.opera/instances/Postgres-DBMS_0--Demo-Postgres-Container_0
.opera/instances/Proxy-Service_0
.opera/instances/Proxy-Service_0--Demo-Nginx-Container_0
.opera/instances/Proxy-Service_0--Repository-Portal-Service_0
.opera/instances/Records-Catalog_0
.opera/instances/Records-Catalog_0--Postgres-Database_0
.opera/instances/Records-Catalog_0--Postgres-DBMS_0
.opera/instances/Repository_0
.opera/instances/Repository_0--Catalog_0
.opera/instances/Repository_0--Demo-Repository-Container_0
.opera/instances/Repository_0--Object-Catalog_0
.opera/instances/Repository_0--Records-Catalog_0
.opera/instances/Repository-Portal-Service_0
.opera/instances/Repository-Portal-Service_0--Demo-Portal-Container_0
.opera/instances/Repository-Portal-Service_0--Repository_0
.opera/instances/swarm-manager_0
.opera/instances/swarm-manager_0--docker-engine-1_0
.opera/instances/swarm-manager_0--workstation-1_0
.opera/instances/swarm-worker-1_0
.opera/instances/swarm-worker-1_0--docker-engine-2_0
.opera/instances/swarm-worker-1_0--swarm-manager_0
.opera/instances/swarm-worker-1_0--workstation-2_0
.opera/instances/workstation-1_0
.opera/instances/workstation-2_0
.opera/instances/workstation-3_0
.opera/instances/docker-engine-3_0
.opera/instances/docker-engine-3_0--workstation-3_0
.opera/instances/swarm-worker-2_0
.opera/instances/swarm-worker-2_0--docker-engine-3_0
.opera/instances/swarm-worker-2_0--swarm-manager_0
.opera/instances/swarm-worker-2_0--workstation-3_0
.opera/instances/Demo-Repository-Container_0--Tomcat-AppServer_0
.opera/instances/Java-Runtime_0
.opera/instances/Java-Runtime_0--Ubuntu-OS-Base_0
.opera/instances/Tomcat-AppServer_0
.opera/instances/Tomcat-AppServer_0--Java-Runtime_0
.opera/instances/Ubuntu-OS-Base_0
workstation/.opera/root_file
workstation/.opera/inputs
scaling/README.md
scaling/service.yaml
scaling/.opera/inputs
scaling/.opera/root_file
scaling/.opera/instances/aws_lambda_0
scaling/.opera/instances/aws_lambda_0--compute_0
scaling/.opera/instances/aws_lambda-2_0
scaling/.opera/instances/aws_lambda-2_0--compute_0
scaling/.opera/instances/compute_0
scaling/files/notification_scale_down.json
scaling/files/notification_scale_up.json
scaling/playbooks/configure.yaml
scaling/playbooks/create.yaml
scaling/playbooks/delete.yaml
scaling/playbooks/scale_down.yaml
scaling/playbooks/scale_up.yaml
workstation/.opera/instances/workstation-1_0
.opera/instances/FT-Search-Service_0
.opera/instances/FT-Search-Service_0--Solr-Container_0
.opera/instances/Solr-Container_0
.opera/instances/Solr-Container_0--docker-engine-1_0
.opera/instances/Solr-Container_0--MockNetwork_0
.opera/instances/Solr-Container_0--MockStorage_0
.opera/instances/Solr-Container_0--Solr-Schema_0
.opera/instances/Solr-Container_0--workstation-1_0
.opera/instances/Solr-Schema_0
validation.log
capabilitytypes/igs.capabilities/DocumentSchema/README.md
nodetypes/igs.nodes.Solr.DocutmentSchema/README.md
relationshiptypes/igs.relationships/RequireDocumentSchema/README.md
.opera/instances/Demo-Portal-Container_0--Tomcat-AppServer-for-Portal_0
.opera/instances/Demo-Repository-Container_0--Tomcat-AppServer-for-Repository_0
.opera/instances/Java-Runtime-for-Portal_0
.opera/instances/Java-Runtime-for-Portal_0--Ubuntu-OS-Base-for-Portal_0
.opera/instances/Java-Runtime-for-Repository_0
.opera/instances/Java-Runtime-for-Repository_0--Ubuntu-OS-Base-for-Repository_0
.opera/instances/Tomcat-AppServer-for-Portal_0
.opera/instances/Tomcat-AppServer-for-Portal_0--Java-Runtime-for-Portal_0
.opera/instances/Tomcat-AppServer-for-Repository_0
.opera/instances/Tomcat-AppServer-for-Repository_0--Java-Runtime-for-Repository_0
.opera/instances/Ubuntu-OS-Base-for-Portal_0
.opera/instances/Ubuntu-OS-Base-for-Repository_0
.opera/instances/Alfresco-ActiveMQ-Container_0
.opera/instances/Alfresco-ActiveMQ-Container_0--Alfresco-ContentApp-Container_0
.opera/instances/Alfresco-ActiveMQ-Container_0--docker-engine-1_0
.opera/instances/Alfresco-ActiveMQ-Container_0--MockNetwork_0
.opera/instances/Alfresco-ActiveMQ-Container_0--MockStorage_0
.opera/instances/Alfresco-ActiveMQ-Container_0--workstation-1_0
.opera/instances/Alfresco-ContentApp-Container_0
.opera/instances/Alfresco-ContentApp-Container_0--docker-engine-1_0
.opera/instances/Alfresco-ContentApp-Container_0--MockNetwork_0
.opera/instances/Alfresco-ContentApp-Container_0--MockStorage_0
.opera/instances/Alfresco-ContentApp-Container_0--workstation-1_0
.opera/instances/Alfresco-ControlCenter-Container_0
.opera/instances/Alfresco-ControlCenter-Container_0--docker-engine-1_0
.opera/instances/Alfresco-ControlCenter-Container_0--MockNetwork_0
.opera/instances/Alfresco-ControlCenter-Container_0--MockStorage_0
.opera/instances/Alfresco-ControlCenter-Container_0--workstation-1_0
.opera/instances/Alfresco-Nginx-Container_0
.opera/instances/Alfresco-Nginx-Container_0--Alfresco-Share-Container_0
.opera/instances/Alfresco-Nginx-Container_0--docker-engine-1_0
.opera/instances/Alfresco-Nginx-Container_0--MockNetwork_0
.opera/instances/Alfresco-Nginx-Container_0--MockStorage_0
.opera/instances/Alfresco-Nginx-Container_0--workstation-1_0
.opera/instances/Alfresco-Postgres-Container_0
.opera/instances/Alfresco-Postgres-Container_0--docker-engine-1_0
.opera/instances/Alfresco-Postgres-Container_0--MockNetwork_0
.opera/instances/Alfresco-Postgres-Container_0--postgres-volume_0
.opera/instances/Alfresco-Postgres-Container_0--workstation-1_0
.opera/instances/Alfresco-Repository-Container_0
.opera/instances/Alfresco-Repository-Container_0--docker-engine-1_0
.opera/instances/Alfresco-Repository-Container_0--MockNetwork_0
.opera/instances/Alfresco-Repository-Container_0--repository-volume_0
.opera/instances/Alfresco-Repository-Container_0--workstation-1_0
.opera/instances/Alfresco-Share-Container_0
.opera/instances/Alfresco-Share-Container_0--docker-engine-1_0
.opera/instances/Alfresco-Share-Container_0--MockNetwork_0
.opera/instances/Alfresco-Share-Container_0--MockStorage_0
.opera/instances/Alfresco-Share-Container_0--workstation-1_0
.opera/instances/Alfresco-Solr-Container_0
.opera/instances/Alfresco-Solr-Container_0--docker-engine-1_0
.opera/instances/Alfresco-Solr-Container_0--MockNetwork_0
.opera/instances/Alfresco-Solr-Container_0--solr-volume_0
.opera/instances/Alfresco-Solr-Container_0--workstation-1_0
.opera/instances/Alfresco-TransformCore-Container_0
.opera/instances/Alfresco-TransformCore-Container_0--Alfresco-ContentApp-Container_0
.opera/instances/Alfresco-TransformCore-Container_0--docker-engine-1_0
.opera/instances/Alfresco-TransformCore-Container_0--MockNetwork_0
.opera/instances/Alfresco-TransformCore-Container_0--MockStorage_0
.opera/instances/Alfresco-TransformCore-Container_0--workstation-1_0
.opera/instances/ContentApp-Service_0
.opera/instances/ContentApp-Service_0--Alfresco-ContentApp-Container_0
.opera/instances/Fed-Search_0
.opera/instances/Fed-Search_0--FT-Search-Service_0
.opera/instances/FT-Search-Service_0--Solr_0
.opera/instances/Message-Service_0
.opera/instances/Message-Service_0--Alfresco-ActiveMQ-Container_0
.opera/instances/Object-Service_0
.opera/instances/Object-Service_0--Solr_0
.opera/instances/Postgres-DBMS_0--Alfresco-Postgres-Container_0
.opera/instances/postgres-volume_0
.opera/instances/postgres-volume_0--nfs-client-1_0
.opera/instances/postgres-volume_0--workstation-1_0
.opera/instances/Proxy-Service_0--Alfresco-Nginx-Container_0
.opera/instances/Proxy-Service_0--ContentApp-Service_0
.opera/instances/Proxy-Service_0--Records-Management_0
.opera/instances/Proxy-Service_0--Repository-Administration_0
.opera/instances/Proxy-Service_0--Repository-Service_0
.opera/instances/Records-Management_0
.opera/instances/Records-Management_0--Repository_0
.opera/instances/Repository_0--Alfresco-Repository-Container_0
.opera/instances/Repository_0--Fed-Search_0
.opera/instances/Repository_0--Message-Service_0
.opera/instances/Repository_0--Object-Service_0
.opera/instances/Repository_0--Transform-Service_0
.opera/instances/Repository-Administration_0
.opera/instances/Repository-Administration_0--Security-Service_0
.opera/instances/Repository-Service_0
.opera/instances/Repository-Service_0--Alfresco-Share-Container_0
.opera/instances/Repository-Service_0--Repository_0
.opera/instances/repository-volume_0
.opera/instances/repository-volume_0--nfs-client-1_0
.opera/instances/repository-volume_0--workstation-1_0
.opera/instances/Security-Service_0
.opera/instances/Security-Service_0--Alfresco-ControlCenter-Container_0
.opera/instances/Solr_0
.opera/instances/Solr_0--Alfresco-Solr-Container_0
.opera/instances/Solr_0--Storage-Service_0
.opera/instances/solr-volume_0
.opera/instances/solr-volume_0--nfs-client-1_0
.opera/instances/solr-volume_0--workstation-1_0
.opera/instances/Storage-Service_0
.opera/instances/Storage-Service_0--nfs-client-1_0
.opera/instances/Transform-Service_0
.opera/instances/Transform-Service_0--Alfresco-TransformCore-Container_0
.opera/instances/Transform-Service_0--Message-Service_0
.opera/instances/Fed-Search_0--MockContainer_0
.opera/instances/FT-Search-Service_0--MockContainer_0
.opera/instances/MockContainer_0
.opera/instances/MockContainer_0--docker-engine-1_0
.opera/instances/MockContainer_0--MockNetwork_0
.opera/instances/MockContainer_0--MockStorage_0
.opera/instances/MockContainer_0--workstation-1_0
.opera/instances/Object-Service_0--MockContainer_0
.opera/instances/Portal-Service_0
.opera/instances/Portal-Service_0--Alfresco-Share-Container_0
.opera/instances/Portal-Service_0--Repository_0
.opera/instances/Proxy-Service_0--Portal-Service_0
.opera/instances/Records-Management_0--MockContainer_0
.opera/instances/Repository-Administration_0--MockContainer_0
.opera/instances/Storage-Service_0--MockContainer_0
test/s1.yaml
test/s2.yaml
test/s3.yaml
test/s4.yaml
test/hh/d1.yaml
test/hh/d2.yaml
test/hh/d3.yaml
test/hh/d4.yaml
test/s1.yaml
test/s2.yaml
test/s3.yaml
test/s4.yaml
test/hh/d1.yaml
test/hh/d2.yaml
test/hh/d3.yaml
test/hh/d4.yaml
.opera/instances/Fed-Search_0--MockContainer_0
.opera/instances/FT-Search-Service_0--MockContainer_0
.opera/instances/MockContainer_0
.opera/instances/MockContainer_0--docker-engine-1_0
.opera/instances/MockContainer_0--MockNetwork_0
.opera/instances/MockContainer_0--MockStorage_0
.opera/instances/MockContainer_0--workstation-1_0
.opera/instances/Object-Service_0--MockContainer_0
.opera/instances/Portal-Service_0
.opera/instances/Portal-Service_0--Alfresco-Share-Container_0
.opera/instances/Portal-Service_0--Repository_0
.opera/instances/Proxy-Service_0--Portal-Service_0
.opera/instances/Records-Management_0--MockContainer_0
.opera/instances/Repository-Administration_0--MockContainer_0
.opera/instances/Storage-Service_0--MockContainer_0
.opera/instances/Mock-Storage-Service_0
.opera/instances/Mock-Storage-Service_0--MockContainer_0
.opera/instances/Solr-Search-Engine_0
.opera/instances/Solr-Search-Engine_0--Mock-Storage-Service_0
.opera/instances/Solr-Search-Engine_0--Solr-Container_0
.opera/instances/Solr-Search-Engine_0--Solr-Schema_0
.opera/instances/Demo-Postgres-Container_0--postgres-volume_0
.opera/instances/Portal-Service_0--Demo-Portal-Container_0
.opera/instances/Repository-Administration_0--Alfresco-ControlCenter-Container_0
docker-compose.yaml
test2.yaml
test3.yaml
.opera/instances/Portal-Container_0
.opera/instances/Portal-Container_0--docker-engine-1_0
.opera/instances/Portal-Container_0--MockNetwork_0
.opera/instances/Portal-Container_0--MockStorage_0
.opera/instances/Portal-Container_0--Tomcat-AppServer-for-Portal_0
.opera/instances/Portal-Container_0--workstation-1_0
.opera/instances/Portal-Service_0--Portal-Container_0
.opera/instances/Repository_0--Repository-Container_0
.opera/instances/Repository-Container_0
.opera/instances/Repository-Container_0--docker-engine-1_0
.opera/instances/Repository-Container_0--MockNetwork_0
.opera/instances/Repository-Container_0--MockStorage_0
.opera/instances/Repository-Container_0--Tomcat-AppServer-for-Repository_0
.opera/instances/Repository-Container_0--workstation-1_0
.opera/instances/Catalog_0--Postgres-DBMS-Cluster_0
.opera/instances/Demo-Crunchy-Postgres-Container_0
.opera/instances/Demo-Crunchy-Postgres-Container_0--docker-engine-1_0
.opera/instances/Demo-Crunchy-Postgres-Container_0--MockNetwork_0
.opera/instances/Demo-Crunchy-Postgres-Container_0--postgres-volume_0
.opera/instances/Demo-Crunchy-Postgres-Container_0--workstation-1_0
.opera/instances/Object-Catalog_0--Postgres-DBMS-Cluster_0
.opera/instances/Postgres-Database_0--Postgres-DBMS-Cluster_0
.opera/instances/Postgres-DBMS-Cluster_0
.opera/instances/Postgres-DBMS-Cluster_0--Demo-Crunchy-Postgres-Container_0
.opera/instances/Records-Catalog_0--Postgres-DBMS-Cluster_0
.opera/instances/Crunchy-Postgres-Container_0
.opera/instances/Crunchy-Postgres-Container_0--docker-engine-1_0
.opera/instances/Crunchy-Postgres-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Crunchy-Postgres-Container_0--docker-temp-volume_0
.opera/instances/Crunchy-Postgres-Container_0--workstation-1_0
.opera/instances/docker-stack-autogenerated-network_0
.opera/instances/docker-temp-volume_0
.opera/instances/Postgres-DBMS-Cluster_0--Crunchy-Postgres-Container_0
.opera/instances/Alfresco-ActiveMQ-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-ActiveMQ-Container_0--docker-temp-volume_0
.opera/instances/Alfresco-ActiveMQ-Container_0--swarm-manager_0
.opera/instances/Alfresco-ContentApp-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-ContentApp-Container_0--docker-temp-volume_0
.opera/instances/Alfresco-ContentApp-Container_0--swarm-manager_0
.opera/instances/Alfresco-ControlCenter-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-ControlCenter-Container_0--docker-temp-volume_0
.opera/instances/Alfresco-ControlCenter-Container_0--swarm-manager_0
.opera/instances/Alfresco-Nginx-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-Nginx-Container_0--docker-temp-volume_0
.opera/instances/Alfresco-Nginx-Container_0--swarm-manager_0
.opera/instances/Alfresco-Postgres-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-Postgres-Container_0--swarm-manager_0
.opera/instances/Alfresco-Repository-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-Repository-Container_0--swarm-manager_0
.opera/instances/Alfresco-Share-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-Share-Container_0--docker-temp-volume_0
.opera/instances/Alfresco-Share-Container_0--swarm-manager_0
.opera/instances/Alfresco-Solr-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-Solr-Container_0--swarm-manager_0
.opera/instances/Alfresco-TransformCore-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Alfresco-TransformCore-Container_0--docker-temp-volume_0
.opera/instances/Alfresco-TransformCore-Container_0--swarm-manager_0
.opera/instances/Fed-Search_0--Postgres-Database_0
.opera/instances/MockContainer_0--docker-stack-autogenerated-network_0
.opera/instances/MockContainer_0--docker-temp-volume_0
.opera/instances/MockContainer_0--swarm-manager_0
.opera/instances/Repository_0--Records-Management_0
.opera/instances/Repository_0--Repository-Administration_0
.opera/instances/Security-Service_0--MockContainer_0
.opera/instances/Solr-Container_0--swarm-manager_0
.opera/instances/docker-stack-autogenerated-network_0--swarm-manager_0
.opera/instances/FT-Search-Service_0--FTSearch-Container_0
.opera/instances/FT-Search-Service_0--Solr-Search-Engine_0
.opera/instances/FTSearch-Container_0
.opera/instances/FTSearch-Container_0--docker-stack-autogenerated-network_0
.opera/instances/FTSearch-Container_0--docker-temp-volume_0
.opera/instances/FTSearch-Container_0--Gunicorn-AppServer-for-FTSearch_0
.opera/instances/FTSearch-Container_0--swarm-manager_0
.opera/instances/Gunicorn-AppServer-for-FTSearch_0
.opera/instances/Gunicorn-AppServer-for-FTSearch_0--Python-Runtime-for-FTSearch_0
.opera/instances/Mock-OS-Base-for-FTSearch_0
.opera/instances/Python-Runtime-for-FTSearch_0
.opera/instances/Python-Runtime-for-FTSearch_0--Mock-OS-Base-for-FTSearch_0
.opera/instances/Solr-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Solr-Container_0--docker-temp-volume_0
appgunicorn.yaml
gunicorn.yaml
python.yaml
cunchy.yaml
.opera/instances/Crunchy-Postgres-Container_0--postgres-volume_0
.opera/instances/Crunchy-Postgres-Container_0--swarm-manager_0
.opera/instances/Nginx-Container_0
.opera/instances/Nginx-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Nginx-Container_0--docker-temp-volume_0
.opera/instances/Nginx-Container_0--swarm-manager_0
.opera/instances/Portal-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Portal-Container_0--docker-temp-volume_0
.opera/instances/Portal-Container_0--swarm-manager_0
.opera/instances/Proxy-Service_0--Nginx-Container_0
.opera/instances/Repository-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Repository-Container_0--docker-temp-volume_0
.opera/instances/Repository-Container_0--swarm-manager_0
.opera/instances/Postgres-Container_0
.opera/instances/Postgres-Container_0--docker-stack-autogenerated-network_0
.opera/instances/Postgres-Container_0--postgres-volume_0
.opera/instances/Postgres-Container_0--swarm-manager_0
.opera/instances/Postgres-DBMS_0--Postgres-Container_0
cunchy.yaml
cunchy.yaml
nodetypes/igs.nodes.ContainerApplication/igs.nodes.ContainerApplication.CrunchyPostgres/NodeType.tosca
nodetypes/igs.nodes.ContainerApplication/igs.nodes.ContainerApplication.Solr/curl_scripts.md
